@charset "UTF-8";

/*DIV PROMOÇÃO----------------------------------------------------------------*/
div#div_timer p#timer_days{
    text-align: center; 
    display:inline;
    background-color: #0a9b91; 
    font-size: 30px;
}

/*PRODUTOS----------------------------------------------------*/
div#div_produtos{/*container de produtos*/
    margin-top: 500px;
    margin-bottom: 50px; 
    background-color: #f60404;
}

img.fotosProdutos{/*tamanho das imagens dos produtos*/
    width: 100%;
}

div.produtosHover:hover{
    background-color: black;
}

/*TEXTOS----------------------------------------------------*/
p{
    text-align: justify;
    text-indent: 50px;
}

a{
    color: #606060;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}