@charset "UTF-8";

/*DIV PROMOÇÃO----------------------------------------------------------------*/
div#div_promocao{ 
    height: 70px; 
    background-color: #27cbc0; 
    color: white;
}

div#div_timer{ 
    font-size: 25px;
}

div#div_timer p#timer_days, p#timer_hours, p#timer_mins, p#timer_secs{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 5px 5px;
    display:inline;
    background-color: #0a9b91;
    display:inline;
    margin-left: 0px; margin-right: 0px;
}

/*PRODUTOS----------------------------------------------------*/
div#div_produtos{/*container de produtos*/
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #D3D3D3;
}

img.fotosProdutos{/*tamanho das imagens dos produtos*/
    width: 100%;
}

div.produtosHover:hover{
    background-color: black;
}

/*TEXTOS----------------------------------------------------*/
p{
    text-align: justify;
    text-indent: 50px;
}

a{
    color: #606060;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}