@charset "UTF-8";

/*DIV PROMOÇÃO----------------------------------------------------------------*/
div#div_promocao{ 
    height: 70px; 
    background-color: #27cbc0; 
    color: white;
    padding-bottom: 5px;
    padding-top: 5px;
}

div#div_timer{ 
    font-size: 25px;
}

div#div_timer p#timer_days, p#timer_hours, p#timer_mins, p#timer_secs{
    padding: 5px 5px;
    display:inline;
    background-color: #0a9b91;
    display:inline;
    margin-left: 0px; margin-right: 0px;
}

/*PRODUTOS----------------------------------------------------*/
div.paginatorProdutos a{
   text-decoration: none;
   color:#77787b;
   font-weight: bold;
   padding: 0px 15px;
   border-bottom: 4px solid #77787b;
}

div.paginatorProdutos a:hover{
   color:#27cbc0;
   font-weight: bold;
   border-bottom: 4px solid #27cbc0;
}

div.paginatorProdutos{
    padding-bottom: 5px;
}

div.paginatorProdutos:hover{
    text-transform: none;
   text-decoration: none;
    padding-bottom: 0px;
}

div#div_produtos_mais_vendidos{/*container de produtos*/
    margin-left: 10%; 
    margin-right: 10%;
}

div#div_produtos_mais_vendidos .col{
    padding: 10px;
}

.div_caixa_produto{/*caixa de exibição do produto*/
    height: 450px;
    background-color: white;
    box-shadow: 5px 5px 5px #A9A9A9;
    color: black;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.a_hover:hover{/*caixa de exibição do produto HOVER*/
    text-decoration: none;
}

.texto_produto{
    padding-top: 10px;
    font-weight: bold;
}

img.fotosProdutos{/*tamanho das imagens dos produtos*/
    width: 100%;
    padding-top: 10px;
}

/*BOTÕES OCULTOS DE PRODUTOS--------------------------------------------------*/
.panel_de_botoes_ocultos {
    position:relative; //Importante para que os botões estejam centralizados
}
.botoes_ocultos{
    display:none; //garante que o botão não apareça na tela
    margin:0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.panel_de_botoes_ocultos:hover .botoes_ocultos {
    display:block; //Exibe os botões somente com o hover
}

.botao_color_e47650{
    background-color: #e47650;
    color: white;
}

.botao_color_e47650:hover{
    background-color: #ea5b2b;
}

/*CLIENTEDES LINKS------------------------------------------------------------*/
ul#clientes_links {
    list-style: none;
    padding-left: 0px;
    padding-right: 0px;
    background-color: white;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

ul#clientes_links li{
    display: inline-block;
    padding: 15px 5px;
}

ul#clientes_links li:hover{
    transform: scale(2);
    transition: all .4s ease-in;
    background-color: white;
    box-shadow: 5px 5px 5px #A9A9A9;
}

ul#clientes_links img{
    height: 42px;
}