@charset "UTF-8";
/*HEADER CABEÇALHO------------------------------------------------------------*/
header#cabecalho{
    border-bottom: 1px #606060 solid;
    background-color: #FFFFFF;
    position: fixed; 
    z-index: 1050;
    width: 100%;
    /*background: url("../_imagens/logo.png") no-repeat 0px 100px;*/
}

/*ICONE CABEÇALHO-------------------------------------------------------------*/
header#cabecalho img#icone{
    position: relative;
    left: 30%;
    top: 0px;
    width: 12%;
}

/*TOPO CABEÇALHO---------------------------------------------------------------*/
div#div_topo_cabecalho{
    height: 25px; 
    background-color: #ebebeb;
    font-weight: bold;
    font-size: 15px;
    color: #231f20;
    z-index: 1050;
}

img.iconTopoCabecalho{
    width: 16px;
    left: 0px;
    top: 0px;
}

/*CABECALHO-------------------------------------------------------------------*/
div#div_cabecalho{
    height: 75px; 
    background-color: white;
}

/*MENU------------------------------------------------------------------------*/
nav#menuT{
    display: block;
}

nav#menuT li{
    display: inline-block;
    margin-right: 20px;
}

nav#menuT a{
    color: #231f20;
}

/*BOTÃO TODOS OS PRODUTOS-----------------------------------------------------*/
a#a_todos_os_produtos{
    color: black; 
    border: 1px solid #b1e5fa;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px 10px;
    margin-left: 35%;
    text-decoration: none;
}

a#a_todos_os_produtos:hover{/*HOVER*/
    border: 2px solid #b1e5fa;
}

/* Formatação do menu*/
nav#menu{
    display: block;
}

nav#menu ul{
    list-style: none;
    position: absolute;
    top: 0px;
}

nav#menu li{
    display: inline-block;
    padding: 10px 40px;
    margin-right: 20px;
}

nav#menu h1{
    display: none;
}

nav#menu a{
    color: black;
    text-decoration: none;
    font-size: 15px;
}

nav#menu a:hover{
    color: #27cbc0;
    text-decoration: underline;
}

img#icon_carrinho_de_compras{
    width: 64px; 
}

img#icon_carrinho_de_compras:hover{
    width: 64px;
    
}

img#icon_carrinho_de_compras:hover{
    width: 70px;
}