@charset "UTF-8";

/*CORPO DA PAGINA----------------------------------------------------*/

/*CORPO DO CAROUSEL DE PRODUTO----------------------------------------------------*/
div#corpo{
}


/*CORPO DA DESCRIÇÃO PRODUTO----------------------------------------------------*/
div#lateral{
    background-color: white;
    box-shadow: 5px 5px 15px #808285;
    border: 2px solid #bababa;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

div#div_corProduto .col{
    background-color: white;
}

div.coresSelecionar{
    width: 25px;
    height: 25px;
    border: 1px solid #bababa;
    padding: 0px 0px;
    margin: 0px 0px;
}

input#cTotalProduto{
    color: #e84f25;
    font-weight: bold;
    border: none;
    font-size: 30px;
    width: 100%;
}

div#lateral h3{
    color: #A9A9A9;
}

/*CONFIGURAÇÃO PRODUTO----------------------------------------------------*/
div#configProduto{
    padding: 10px 10px;
    box-shadow: 5px 5px 15px #002752;
    margin-bottom: 20px;
}

div.passosConfigProduto{
    background-color: #FFFFFF; margin-bottom: 20px; padding: 10px 10px;
    border-bottom: 1px solid black;
}

/*SOCIAL LiNKS----------------------------------------------------------------*/
ul#social_share {
    list-style: none;
}

ul#social_share li{
    display: inline-block;
    padding: 0px 10px;
}

ul#social_share img{
    width: 36px;
    height: 36px;
}

/*DESCRIÇÃO PRODUTO-----------------------------------------------------------*/
div.paginatorDescricaoProduto{
    padding-bottom: 5px;
}

div.paginatorDescricaoProduto:hover{
    text-transform: none;
   text-decoration: none;
    padding-bottom: 0px;
}

div.paginatorDescricaoProduto a{
   text-decoration: none;
   color:#77787b;
   font-weight: bold;
   padding: 0px 15px;
}