@charset "UTF-8";

/*CORPO DA PAGINA----------------------------------------------------*/

/*CORPO DO CAROUSEL DE PRODUTO----------------------------------------------------*/
div#corpo{
}


/*CORPO DA DESCRIÇÃO PRODUTO----------------------------------------------------*/
div#lateral{
    background-color: white;
    box-shadow: 5px 5px 15px #808285;
    border: 1px solid black;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

div#lateral h1#produto_preco{
    color: #e84f25;
    font-weight: bold;
}

div#lateral h3{
    color: #A9A9A9;
}

/*CONFIGURAÇÃO PRODUTO----------------------------------------------------*/
div#configProduto{
    padding: 10px 10px;
    box-shadow: 5px 5px 15px #002752;
    margin-bottom: 20px;
}

div.passosConfigProduto{
    background-color: #FFFFFF; margin-bottom: 20px; padding: 10px 10px;
    border-bottom: 1px solid black;
}